node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Ignore generated download PDFs and Excels
public/downloads/

# Ignore logs
logs/
*.log

# Next.js
.next/
out/
next-env.d.ts
.DS_Store
